*{
    font-family: 'Inter', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

.header img {
    padding: 50px 0;
    width: 400px;
    height: auto;
}

.navbar {
    padding: 20px 0;
    width: 60%;
    border-top: 1px solid transparent; /* Apply gradient border to top */
    border-bottom: 1px solid transparent; /* Apply gradient border to bottom */
    border-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    border-image-slice: 1;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: black;
}

a:active , a:hover {
    color: #FF5C00;
    transition: all 0.15s;
}

.footer {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.footer p{
    color: #FF5C00;
    font-weight: 200;
}